<ul class="nav nav-tabs">
    <li routerLink="/parent" class="col-3">Form Family</li>
    <li class="active col-3 ">To Instruction Form</li>
</ul>
<h1>{{userName}}</h1>
<p>
    We want you to fill in your details and your family details,<br>
    For you:<br>
    All fields will be required,<br>
    Of course the ID field will only contain digits,<br>
    The First name and last name field will contain only characters<br>
    You can add your children dynamically<br>
    We wish you a continued lovely and flourishing day!<br>
</p>
<!-- <button routerLink="/parent">To Form</button> -->